In [14]:
!pip3 install beautifulsoup4
!pip3 install requests
!pip3 install pandas numpy

Requirement already satisfied: beautifulsoup4 in /opt/homebrew/lib/python3.10/site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in /opt/homebrew/lib/python3.10/site-packages (from beautifulsoup4) (2.3.2.post1)

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: python3.10 -m pip install --upgrade pip
Requirement already satisfied: requests in /opt/homebrew/lib/python3.10/site-packages (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/homebrew/lib/python3.10/site-packages (from requests) (1.26.12)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/homebrew/lib/python3.10/site-packages (from requests) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /opt/homebrew/lib/python3.10/site-packages (from requests) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/homebrew/lib/python3.10/site-packages (from requests) (2022.9.24)

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: python3.10 -m pip install --upgrade pip
Requirement already satisfied: pandas in /opt/homebrew/lib/python3.10/site-packages (1.5.1)
Requirement already satisfied: numpy in /opt/homebrew/lib/python3.10/site-packages (1.23.4)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/ilanhaskel/Library/Python/3.10/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/ilanhaskel/Library/Python/3.10/lib/python/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: python3.10 -m pip install --upgrade pip

In [15]:
import random

In [16]:
from bs4 import BeautifulSoup
import requests as r
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv("./data/title.akas.tsv", sep='\t')

/var/folders/k1/nm9qv5qd4dvbcv_85d2_cj000000gn/T/ipykernel_86174/2445072090.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./data/title.akas.tsv", sep='\t')

In [18]:
df.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [19]:
df.shape

(33873510, 8)

In [20]:
ids= df['titleId'].unique()

In [21]:
ids

array(['tt0000001', 'tt0000002', 'tt0000003', ..., 'tt9916850',
       'tt9916852', 'tt9916856'], dtype=object)

In [22]:
someids=random.choices(ids, k=5)

In [23]:
someids

['tt2822530', 'tt21142236', 'tt9572424', 'tt10536874', 'tt11531448']

In [24]:
base = "https://www.imdb.com/title/"

In [25]:
howls_ratings = BeautifulSoup(r.get("https://www.imdb.com/title/tt0347149/ratings/").text, 'html.parser')

In [26]:
type(howls_ratings)

bs4.BeautifulSoup

In [27]:
def ratings_url(url):
    return f"{base}{url}/ratings"

In [28]:
ts = howls_ratings.find_all("table")

In [29]:
type(ts[0])

bs4.element.Tag

In [30]:
    df = pd.DataFrame()

In [31]:
rows = ts[0].find_all("tr")

In [32]:
def get_ratings_table(ratings_page):
    ratings_page = howls_ratings
    ts = ratings_page.find_all("table")
    rows = ts[0].find_all("tr")
    df = pd.DataFrame()
    scores = []
    nvotes = []
    for (i, row) in enumerate(rows):
        if i == 0:
            continue
        score = int(row.find_all("div", {"class": "rightAligned"})[0].text)
        nvote = int(row.find_all("div", {"class": "leftAligned"})[0].text.replace(",", ""))
        scores.append(score)
        nvotes.append(nvote)
        # df[i, :] = [score.text, nvotes.text]
    df = pd.DataFrame(list(zip(scores, nvotes)),columns =['score', 'nvotes'])
    return df

In [33]:
get_ratings_table(howls_ratings)

   score  nvotes
0     10   89219
1      9   95155
2      8  116334
3      7   58900
4      6   18996
5      5    6687
6      4    2751
7      3    1592
8      2    1164
9      1    3433

In [34]:
pd.read_html()

TypeError: read_html() missing 1 required positional argument: 'io'

In [ ]:
howls_id = "tt0347149"

In [ ]:
url = f"{base}{howls_id}"

In [ ]:
p = r.get(url).text

In [ ]:
list(map(ratings_url, someids))

['https://www.imdb.com/title/tt0169308/ratings',
 'https://www.imdb.com/title/tt6386148/ratings',
 'https://www.imdb.com/title/tt5286238/ratings',
 'https://www.imdb.com/title/tt8800420/ratings',
 'https://www.imdb.com/title/tt8883544/ratings']